In [11]:
# Sample code on old dataset
import numpy as np
import csv
import os
import pandas as pd

cwd = os.getcwd()
training_dataframe = pd.read_csv('data_train.csv')
training_dataframe
#training_matrix = training_dataframe.to_numpy()
#training_matrix

          row    col  data
0           0   3568   1.0
1           0   3827   1.0
2           0   4844   1.0
3           0   5734   1.0
4           0   6518   1.0
...       ...    ...   ...
398631  30910  18176   1.0
398632  30910  18185   1.0
398633  30910  18248   1.0
398634  30910  18349   1.0
398635  30910  18360   1.0

[398636 rows x 3 columns]

In [34]:
# alcuni utenti non hanno interaction e alcuni items non hanno interactions 
unique_users = training_dataframe["row"].unique()
unique_items = training_dataframe["col"].unique()
print(training_dataframe["col"].max())
print(training_dataframe["col"].min())

unique_data = training_dataframe["data"].unique()

print('Number of unique users:',len(unique_users))
print('Number of unique items:',len(unique_items))
print('Number of unique data:',len(unique_data))

matrix_dimension = len(unique_users) * len(unique_items)
percentage_of_data = (len(training_dataframe.index)/matrix_dimension)*100
print("Percentage of non_null cells:",percentage_of_data)

18494
0
Number of unique users: 27255
Number of unique items: 15277
Number of unique data: 1
Percentage of non_null cells: 0.09573974168719476

In [36]:
#converting data into sparse matrix
#NB: sps.coo_matrix(...) generates a NxM matrix where N is the max index in row and M is the max index in col.

import scipy.sparse as sps
row = training_dataframe["row"].to_numpy()
col = training_dataframe["col"].to_numpy()
data = training_dataframe["data"].to_numpy()

URM_all = sps.coo_matrix((data, (row,col))) #smart way to couple indexes and data. It's not fast btw. Convert it into CSR format
URM_all.tocsr()

  (0, 3568)	1.0
  (0, 3827)	1.0
  (0, 4844)	1.0
  (0, 5734)	1.0
  (0, 6518)	1.0
  (0, 16373)	1.0
  (0, 18343)	1.0
  (1, 3537)	1.0
  (1, 8473)	1.0
  (1, 8475)	1.0
  (1, 15971)	1.0
  (1, 16145)	1.0
  (1, 17587)	1.0
  (2, 736)	1.0
  (2, 1425)	1.0
  (2, 3653)	1.0
  (2, 4634)	1.0
  (2, 4653)	1.0
  (2, 5731)	1.0
  (2, 14979)	1.0
  (2, 14981)	1.0
  (2, 15238)	1.0
  (2, 16491)	1.0
  (3, 3730)	1.0
  (4, 543)	1.0
  :	:
  (30910, 15804)	1.0
  (30910, 16181)	1.0
  (30910, 16185)	1.0
  (30910, 16281)	1.0
  (30910, 16398)	1.0
  (30910, 16416)	1.0
  (30910, 16451)	1.0
  (30910, 16990)	1.0
  (30910, 17258)	1.0
  (30910, 17259)	1.0
  (30910, 17464)	1.0
  (30910, 17519)	1.0
  (30910, 17547)	1.0
  (30910, 17560)	1.0
  (30910, 17661)	1.0
  (30910, 17735)	1.0
  (30910, 17767)	1.0
  (30910, 17955)	1.0
  (30910, 17989)	1.0
  (30910, 18091)	1.0
  (30910, 18176)	1.0
  (30910, 18185)	1.0
  (30910, 18248)	1.0
  (30910, 18349)	1.0
  (30910, 18360)	1.0