# SLIM MODEL
Since the KNN_Item_CF is the one that perfomed the best so far, now i'm trying a SLIM Model, which is basically the same algorithm but Machine Learning based. It uses the infos from the training data instead of some heuristic (such as cosine similarity ecc...)
https://notebook.community/trangel/Insight-Data-Science/general-docs/recommendation-validation/.ipynb_checkpoints/recommender_systems-validation-checkpoint

# Data loading 
Next cells are used to load the data we need.

In [1]:
import pandas as pd
import numpy as np 
import scipy.sparse as sps
import os
import sys
import matplotlib.pyplot as plt
sys.path.append('..')

In [2]:
#data which contains users (row), items(col) and implicit interaction (data)
dataset = pd.read_csv('data_train.csv')
dataset

         row    col  data
0          0  10080   1.0
1          0  19467   1.0
2          1   2665   1.0
3          1   7494   1.0
4          1  17068   1.0
...      ...    ...   ...
113263  7945   2476   1.0
113264  7945  12319   1.0
113265  7945  21384   1.0
113266  7946   8699   1.0
113267  7946  19178   1.0

[113268 rows x 3 columns]

# Data pre-processing
Pre-processing of data to check for missing users, items ecc...

In [4]:
users = dataset.row
items = dataset.col
data = dataset.data
URM_all = sps.coo_matrix((data, (users, items)))
URM_all = URM_all.tocsr() #fast row access -> fast access to users 
URM_all.shape

(7947, 25975)

In [9]:
ICM_df = pd.read_csv('data_ICM_title_abstract.csv')
ICM_df

          row    col      data
0           0   1185  1.015524
1           0   2507  0.459024
2           0   3534  0.227742
3           0   8766  0.501549
4           0  10862  0.297011
...       ...    ...       ...
490686  25974  12554  0.963016
490687  25974  13003  0.104613
490688  25974  16236  0.118760
490689  25974  18797  0.363301
490690  25974  19629  0.129141

[490691 rows x 3 columns]

In [11]:
items = ICM_df.row
features = ICM_df.col
data = ICM_df.data
ICM_all = sps.coo_matrix((data, (items, features)))
ICM_all = ICM_all.tocsr() #fast row access -> fast access to users 
ICM_all.shape

(25975, 20000)

In [16]:
from Base.Evaluation.Evaluator import EvaluatorHoldout
from Data_manager.split_functions.split_train_validation_random_holdout import split_train_in_two_percentage_global_sample

#splitting data into train and validation (from the previous training data)
URM_train, URM_validation = split_train_in_two_percentage_global_sample(URM_all, train_percentage = 0.85)

Warning: 47 (0.59 %) of 7947 users have no train items
Warning: 2901 (36.50 %) of 7947 users have no sampled items

In [17]:
#evaluator for validation (used for hyperparameter tuning)
evaluator_validation = EvaluatorHoldout(URM_validation, cutoff_list=[10])

In [89]:
from GraphBased.P3alphaRecommender import P3alphaRecommender
from KNN.ItemKNNSimilarityHybridRecommender import ItemKNNSimilarityHybridRecommender

recommender_alpha = P3alphaRecommender(URM_train)
recommender_alpha.fit(topK=475, alpha = 0.45, implicit = True)

recommender_alpha_ICM = P3alphaRecommender(ICM_all.T)
recommender_alpha_ICM.fit(topK=175, alpha = 0.45)
recommender_alpha_ICM.URM_train = URM_train

P3alphaRecommender: URM Detected 47 (0.59 %) cold users.
P3alphaRecommender: URM Detected 2027 (7.80 %) cold items.
P3alphaRecommender: URM Detected 2 (0.01 %) cold users.
P3alphaRecommender: URM Detected 25 (0.10 %) cold items.

In [90]:
hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_train, recommender_alpha_ICM.W_sparse, recommender_alpha.W_sparse)
hybridrecommender.fit(topK=600, alpha = 0.45)

ItemKNNSimilarityHybridRecommender: URM Detected 47 (0.59 %) cold users.
ItemKNNSimilarityHybridRecommender: URM Detected 2027 (7.80 %) cold items.

In [91]:
evaluator_validation.evaluateRecommender(hybridrecommender)

EvaluatorHoldout: Processed 5046 ( 100.00% ) in 3.78 sec. Users per second: 1334

({10: {'ROC_AUC': 0.1975602944969776,
   'PRECISION': 0.03951644867221468,
   'PRECISION_RECALL_MIN_DEN': 0.16753180265368206,
   'RECALL': 0.16445732091681767,
   'MAP': 0.07579288469362291,
   'MRR': 0.14228667685861515,
   'NDCG': 0.11249301574343179,
   'F1': 0.06372161767538174,
   'HIT_RATE': 0.39516448672215615,
   'ARHR': 0.16038249690152215,
   'NOVELTY': 0.004853184853793228,
   'AVERAGE_POPULARITY': 0.1052282193999255,
   'DIVERSITY_MEAN_INTER_LIST': 0.9859622336741817,
   'DIVERSITY_HERFINDAHL': 0.998576683885974,
   'COVERAGE_ITEM': 0.4292204042348412,
   'COVERAGE_ITEM_CORRECT': 0.04592877767083734,
   'COVERAGE_USER': 0.6349565873914684,
   'COVERAGE_USER_CORRECT': 0.19604882345539199,
   'DIVERSITY_GINI': 0.14651631079684396,
   'SHANNON_ENTROPY': 11.587378406420129}},
 'CUTOFF: 10 - ROC_AUC: 0.1975603, PRECISION: 0.0395164, PRECISION_RECALL_MIN_DEN: 0.1675318, RECALL: 0.1644573, MAP: 0.0757929, MRR: 0.1422867, NDCG: 0.1124930, F1: 0.0637216, HIT_RATE: 0.3951645, ARHR: 0.1603825, NOVELTY: 0.0048532, AVERAGE_POPULARITY: 0.1052282, DIVERSITY_MEAN_INTER_LIST: 0.9859622, DIVERSITY_HERFINDAHL: 0.9985767, COVERAGE_ITEM: 0.4292204, COVERAGE_ITEM_CORRECT: 0.0459288, COVERAGE_USER: 0.6349566, COVERAGE_USER_CORRECT: 0.1960488, DIVERSITY_GINI: 0.1465163, SHANNON_ENTROPY: 11.5873784, \n')

In [92]:
test_users = pd.read_csv('data_target_users_test.csv')
test_users

      user_id
0           0
1           1
2           2
3           3
4           4
...       ...
7939     7942
7940     7943
7941     7944
7942     7945
7943     7946

[7944 rows x 1 columns]

In [94]:
recommender_alpha = P3alphaRecommender(URM_all)
recommender_alpha.fit(topK=475, alpha = 0.45, implicit = True)

recommender_alpha_ICM = P3alphaRecommender(ICM_all.T)
recommender_alpha_ICM.fit(topK=175, alpha = 0.45)
recommender_alpha_ICM.URM_train = URM_train

hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_all, recommender_alpha_ICM.W_sparse, recommender_alpha.W_sparse)
hybridrecommender.fit(topK=600, alpha = 0.45)

user_id = test_users['user_id']
recommendations = hybridrecommender.recommend(user_id,cutoff = 10)

P3alphaRecommender: URM Detected 1079 (4.15 %) cold items.
P3alphaRecommender: URM Detected 2 (0.01 %) cold users.
P3alphaRecommender: URM Detected 25 (0.10 %) cold items.
ItemKNNSimilarityHybridRecommender: URM Detected 1079 (4.15 %) cold items.

In [95]:
for index in range(len(recommendations)):
    #print(element)
    recommendations[index]=np.array(recommendations[index])
    #print(type(element))
print(len(recommendations))

7944

In [96]:
test_users['item_list']= recommendations
#test_users['item_list'] =  test_users['item_list'].apply(lambda x: x.replace('[','').replace(']','')) 
test_users['item_list'] = pd.DataFrame([str(line).strip('[').strip(']').replace("'","") for line in test_users['item_list']])

#convert the string columns to int
#test_users['item_list'] = test_users['item_list'].astype(int)
test_users
test_users.to_csv('submission.csv', index=False)