# Data loading 
Next cells are used to load the data we need.

In [1]:
import pandas as pd
import numpy as np 
import scipy.sparse as sps
import os
import sys
import matplotlib.pyplot as plt
sys.path.append('..')

In [2]:
#data which contains users (row), items(col) and implicit interaction (data)
dataset = pd.read_csv('data_train.csv')
dataset

         row    col  data
0          0  10080   1.0
1          0  19467   1.0
2          1   2665   1.0
3          1   7494   1.0
4          1  17068   1.0
...      ...    ...   ...
113263  7945   2476   1.0
113264  7945  12319   1.0
113265  7945  21384   1.0
113266  7946   8699   1.0
113267  7946  19178   1.0

[113268 rows x 3 columns]

In [3]:
unique_users, min_users, max_users = len(dataset.row.unique()), dataset.row.min(), dataset.row.max()
unique_items, min_items, max_items = len(dataset.col.unique()), dataset.col.min(), dataset.col.max()
print('users stats:',unique_users, min_users, max_users)
print('items stats:',unique_items, min_items, max_items)

users stats: 7947 0 7946
items stats: 24896 0 25974

In [4]:
users = dataset.row
items = dataset.col
data = dataset.data
URM_all = sps.coo_matrix((data, (users, items)))
URM_all = URM_all.tocsr() #fast row access -> fast access to users 
URM_all.shape

(7947, 25975)

In [5]:
items_per_user = np.ediff1d(URM_all.indptr) #tells in which position each of the rows begin
users_per_item = np.ediff1d(sps.csc_matrix(URM_all).indptr)
URM_all = sps.csr_matrix(URM_all)

In [6]:
items_per_user = np.sort(items_per_user) #sorting based on the single value. Losing reference to the user. 
users_per_item = np.sort(users_per_item)

In [7]:
ICM_df = pd.read_csv('data_ICM_title_abstract.csv')
ICM_df

          row    col      data
0           0   1185  1.015524
1           0   2507  0.459024
2           0   3534  0.227742
3           0   8766  0.501549
4           0  10862  0.297011
...       ...    ...       ...
490686  25974  12554  0.963016
490687  25974  13003  0.104613
490688  25974  16236  0.118760
490689  25974  18797  0.363301
490690  25974  19629  0.129141

[490691 rows x 3 columns]

In [8]:
items = ICM_df.row
features = ICM_df.col
data = ICM_df.data
ICM_all = sps.coo_matrix((data, (items, features)))
ICM_all = ICM_all.tocsr() #fast row access -> fast access to users 
ICM_all.shape

(25975, 20000)

In [9]:
ICM_all = sps.csr_matrix(ICM_all)
features_per_item = np.ediff1d(ICM_all.indptr)

ICM_all = sps.csc_matrix(ICM_all)
items_per_feature = np.ediff1d(ICM_all.indptr)

ICM_all = sps.csr_matrix(ICM_all)

In [10]:
features_per_item = np.sort(features_per_item)
items_per_feature = np.sort(items_per_feature)

In [11]:
from Base.Evaluation.Evaluator import EvaluatorHoldout
from Data_manager.split_functions.split_train_validation_random_holdout import split_train_in_two_percentage_global_sample

URM_train, URM_validation = split_train_in_two_percentage_global_sample(URM_all, train_percentage = 0.85)
evaluator_validation = EvaluatorHoldout(URM_validation, cutoff_list=[10])

Warning: 30 (0.38 %) of 7947 users have no train items
Warning: 2963 (37.28 %) of 7947 users have no sampled items

In [12]:
from GraphBased.P3alphaRecommender import P3alphaRecommender
from GraphBased.RP3betaRecommender import RP3betaRecommender
from KNN.ItemKNNCBFRecommender import ItemKNNCBFRecommender
from KNN.ItemKNNSimilarityHybridRecommender import ItemKNNSimilarityHybridRecommender

recommender_alpha = P3alphaRecommender(URM_train)
recommender_alpha.fit(topK=500, alpha = 0.45, implicit = True)

recommender_beta_ICM = RP3betaRecommender(ICM_all.T)
recommender_beta_ICM.fit(topK=100, alpha=0.2, beta=0.5, implicit=False)
recommender_beta_ICM.URM_train = URM_train

recommeder_KNNItemCBF = ItemKNNCBFRecommender(URM_train, ICM_all)
recommeder_KNNItemCBF.fit(topK=100, shrink=400, feature_weighting = 'TF-IDF') #Vedere quale normalizzazione ha più senso dal punto di vista teorico


hybridrecommender_CBF = ItemKNNSimilarityHybridRecommender(URM_train, recommender_beta_ICM.W_sparse, recommeder_KNNItemCBF.W_sparse)
hybridrecommender_CBF.fit(topK=200, alpha = 0.9)

hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_train, recommender_alpha.W_sparse, hybridrecommender_CBF.W_sparse)
hybridrecommender.fit(topK=550, alpha = 0.1)

P3alphaRecommender: URM Detected 30 (0.38 %) cold users.
P3alphaRecommender: URM Detected 1972 (7.59 %) cold items.
RP3betaRecommender: URM Detected 2 (0.01 %) cold users.
RP3betaRecommender: URM Detected 25 (0.10 %) cold items.
ItemKNNCBFRecommender: URM Detected 30 (0.38 %) cold users.
ItemKNNCBFRecommender: URM Detected 1972 (7.59 %) cold items.
Similarity column 25975 ( 100 % ), 3907.05 column/sec, elapsed time 0.11 min
ItemKNNSimilarityHybridRecommender: URM Detected 30 (0.38 %) cold users.
ItemKNNSimilarityHybridRecommender: URM Detected 1972 (7.59 %) cold items.
ItemKNNSimilarityHybridRecommender: URM Detected 30 (0.38 %) cold users.
ItemKNNSimilarityHybridRecommender: URM Detected 1972 (7.59 %) cold items.

In [13]:
evaluator_validation.evaluateRecommender(hybridrecommender)

EvaluatorHoldout: Processed 4984 ( 100.00% ) in 3.85 sec. Users per second: 1294

({10: {'ROC_AUC': 0.19611715425870763,
   'PRECISION': 0.040308988764043985,
   'PRECISION_RECALL_MIN_DEN': 0.16463604168259097,
   'RECALL': 0.16185262854380972,
   'MAP': 0.07591140120924117,
   'MRR': 0.14480058409131463,
   'NDCG': 0.11288133945374378,
   'F1': 0.06454356541349214,
   'HIT_RATE': 0.40308988764044945,
   'ARHR': 0.16406007159418112,
   'NOVELTY': 0.004890439630074292,
   'AVERAGE_POPULARITY': 0.09845709864380385,
   'DIVERSITY_MEAN_INTER_LIST': 0.9871306180983239,
   'DIVERSITY_HERFINDAHL': 0.9986932558182975,
   'COVERAGE_ITEM': 0.4679499518768046,
   'COVERAGE_ITEM_CORRECT': 0.0487776708373436,
   'COVERAGE_USER': 0.6271549012205864,
   'COVERAGE_USER_CORRECT': 0.19353215049704292,
   'DIVERSITY_GINI': 0.1701945115654356,
   'SHANNON_ENTROPY': 11.807286686952672}},
 'CUTOFF: 10 - ROC_AUC: 0.1961172, PRECISION: 0.0403090, PRECISION_RECALL_MIN_DEN: 0.1646360, RECALL: 0.1618526, MAP: 0.0759114, MRR: 0.1448006, NDCG: 0.1128813, F1: 0.0645436, HIT_RATE: 0.4030899, ARHR: 0.1640601, NOVELTY: 0.0048904, AVERAGE_POPULARITY: 0.0984571, DIVERSITY_MEAN_INTER_LIST: 0.9871306, DIVERSITY_HERFINDAHL: 0.9986933, COVERAGE_ITEM: 0.4679500, COVERAGE_ITEM_CORRECT: 0.0487777, COVERAGE_USER: 0.6271549, COVERAGE_USER_CORRECT: 0.1935322, DIVERSITY_GINI: 0.1701945, SHANNON_ENTROPY: 11.8072867, \n')

In [18]:
test_users = pd.read_csv('data_target_users_test.csv')
test_users

      user_id
0           0
1           1
2           2
3           3
4           4
...       ...
7939     7942
7940     7943
7941     7944
7942     7945
7943     7946

[7944 rows x 1 columns]

In [19]:
recommender_alpha = P3alphaRecommender(URM_all)
recommender_alpha.fit(topK=500, alpha = 0.45, implicit = True)

recommender_beta_ICM = RP3betaRecommender(ICM_all.T)
recommender_beta_ICM.fit(topK=100, alpha=0.2, beta=0.5, implicit=False)
recommender_beta_ICM.URM_train = URM_all

recommeder_KNNItemCBF = ItemKNNCBFRecommender(URM_all, ICM_all)
recommeder_KNNItemCBF.fit(topK=100, shrink=400, feature_weighting = 'TF-IDF') #Vedere quale normalizzazione ha più senso dal punto di vista teorico


hybridrecommender_CBF = ItemKNNSimilarityHybridRecommender(URM_all, recommender_beta_ICM.W_sparse, recommeder_KNNItemCBF.W_sparse)
hybridrecommender_CBF.fit(topK=200, alpha = 0.9)

hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_all, recommender_alpha.W_sparse, hybridrecommender_CBF.W_sparse)
hybridrecommender.fit(topK=550, alpha = 0.1)

user_id = test_users['user_id']
recommendations = hybridrecommender.recommend(user_id,cutoff = 10)

P3alphaRecommender: URM Detected 1079 (4.15 %) cold items.
RP3betaRecommender: URM Detected 2 (0.01 %) cold users.
RP3betaRecommender: URM Detected 25 (0.10 %) cold items.
ItemKNNCBFRecommender: URM Detected 1079 (4.15 %) cold items.
Similarity column 25975 ( 100 % ), 3380.43 column/sec, elapsed time 0.13 min
ItemKNNSimilarityHybridRecommender: URM Detected 1079 (4.15 %) cold items.
ItemKNNSimilarityHybridRecommender: URM Detected 1079 (4.15 %) cold items.

In [20]:
for index in range(len(recommendations)):
    #print(element)
    recommendations[index]=np.array(recommendations[index])
    #print(type(element))
print(len(recommendations))

7944

In [21]:
test_users['item_list']= recommendations
#test_users['item_list'] =  test_users['item_list'].apply(lambda x: x.replace('[','').replace(']','')) 
test_users['item_list'] = pd.DataFrame([str(line).strip('[').strip(']').replace("'","") for line in test_users['item_list']])

#convert the string columns to int
#test_users['item_list'] = test_users['item_list'].astype(int)
test_users
test_users.to_csv('submission.csv', index=False)