In [1]:
import pandas as pd
import numpy as np 
import scipy.sparse as sps
import os
import sys
import matplotlib.pyplot as plt
sys.path.append('..')

In [2]:
#data which contains users (row), items(col) and implicit interaction (data)
dataset = pd.read_csv('data_train.csv')
dataset

         row    col  data
0          0  10080   1.0
1          0  19467   1.0
2          1   2665   1.0
3          1   7494   1.0
4          1  17068   1.0
...      ...    ...   ...
113263  7945   2476   1.0
113264  7945  12319   1.0
113265  7945  21384   1.0
113266  7946   8699   1.0
113267  7946  19178   1.0

[113268 rows x 3 columns]

In [3]:
users = dataset.row
items = dataset.col
data = dataset.data
URM_all = sps.coo_matrix((data, (users, items)))
URM_all = URM_all.tocsr() #fast row access -> fast access to users 
URM_all.shape

(7947, 25975)

In [4]:
items_per_user = np.ediff1d(URM_all.indptr) #tells in which position each of the rows begin
users_per_item = np.ediff1d(sps.csc_matrix(URM_all).indptr)
URM_all = sps.csr_matrix(URM_all)

In [5]:
items_per_user = np.sort(items_per_user) #sorting based on the single value. Losing reference to the user. 
users_per_item = np.sort(users_per_item)

In [6]:
ICM_df = pd.read_csv('data_ICM_title_abstract.csv')
ICM_df

          row    col      data
0           0   1185  1.015524
1           0   2507  0.459024
2           0   3534  0.227742
3           0   8766  0.501549
4           0  10862  0.297011
...       ...    ...       ...
490686  25974  12554  0.963016
490687  25974  13003  0.104613
490688  25974  16236  0.118760
490689  25974  18797  0.363301
490690  25974  19629  0.129141

[490691 rows x 3 columns]

In [7]:
items = ICM_df.row
features = ICM_df.col
data = ICM_df.data
ICM_all = sps.coo_matrix((data, (items, features)))
ICM_all = ICM_all.tocsr() #fast row access -> fast access to users 
ICM_all.shape

(25975, 20000)

In [8]:
ICM_all = sps.csr_matrix(ICM_all)
features_per_item = np.ediff1d(ICM_all.indptr)

ICM_all = sps.csc_matrix(ICM_all)
items_per_feature = np.ediff1d(ICM_all.indptr)

ICM_all = sps.csr_matrix(ICM_all)

In [9]:
features_per_item = np.sort(features_per_item)
items_per_feature = np.sort(items_per_feature)

In [10]:
from Base.Evaluation.Evaluator import EvaluatorHoldout
from Data_manager.split_functions.split_train_validation_random_holdout import split_train_in_two_percentage_global_sample

URM_train, URM_validation = split_train_in_two_percentage_global_sample(URM_all, train_percentage = 0.85)

evaluator_validation = EvaluatorHoldout(URM_validation, cutoff_list=[10])

Warning: 39 (0.49 %) of 7947 users have no train items
Warning: 2940 (37.00 %) of 7947 users have no sampled items

In [12]:
from KNN.ItemKNNCBFRecommender import ItemKNNCBFRecommender
from KNN.ItemKNNSimilarityHybridRecommender import ItemKNNSimilarityHybridRecommender
from GraphBased.RP3betaRecommender import RP3betaRecommender

recommender_beta = RP3betaRecommender(URM_train)
recommender_beta.fit(topK=70, alpha=0.4, beta=0.2, implicit=True)

recommender_beta_ICM = RP3betaRecommender(ICM_all.T)
recommender_beta_ICM.fit(topK=100, alpha=0.4, beta=0.3, implicit=False)
recommender_beta_ICM.URM_train = URM_train

hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_train, recommender_beta_ICM.W_sparse, recommender_beta.W_sparse)
hybridrecommender.fit(topK=600, alpha = 0.45)

evaluator_validation.evaluateRecommender(hybridrecommender)

RP3betaRecommender: URM Detected 39 (0.49 %) cold users.
RP3betaRecommender: URM Detected 1997 (7.69 %) cold items.
RP3betaRecommender: URM Detected 2 (0.01 %) cold users.
RP3betaRecommender: URM Detected 25 (0.10 %) cold items.
ItemKNNSimilarityHybridRecommender: URM Detected 39 (0.49 %) cold users.
ItemKNNSimilarityHybridRecommender: URM Detected 1997 (7.69 %) cold items.
EvaluatorHoldout: Processed 5007 ( 100.00% ) in 3.37 sec. Users per second: 1487

({10: {'ROC_AUC': 0.16874054102034963,
   'PRECISION': 0.0358697823047726,
   'PRECISION_RECALL_MIN_DEN': 0.14026323464609908,
   'RECALL': 0.1370818439446233,
   'MAP': 0.06304846728060176,
   'MRR': 0.12331426479119707,
   'NDCG': 0.09467671519368202,
   'F1': 0.0568609385972469,
   'HIT_RATE': 0.3586978230477332,
   'ARHR': 0.1407920974128287,
   'NOVELTY': 0.0053237435189615896,
   'AVERAGE_POPULARITY': 0.04823679597102052,
   'DIVERSITY_MEAN_INTER_LIST': 0.9969133744120597,
   'DIVERSITY_HERFINDAHL': 0.9996714270482678,
   'COVERAGE_ITEM': 0.5997305101058711,
   'COVERAGE_ITEM_CORRECT': 0.04981713185755534,
   'COVERAGE_USER': 0.6300490751226878,
   'COVERAGE_USER_CORRECT': 0.1710079275198188,
   'DIVERSITY_GINI': 0.29804793922939665,
   'SHANNON_ENTROPY': 13.033155110814798}},
 'CUTOFF: 10 - ROC_AUC: 0.1687405, PRECISION: 0.0358698, PRECISION_RECALL_MIN_DEN: 0.1402632, RECALL: 0.1370818, MAP: 0.0630485, MRR: 0.1233143, NDCG: 0.0946767, F1: 0.0568609, HIT_RATE: 0.3586978, ARHR: 0.1407921, NOVELTY: 0.0053237, AVERAGE_POPULARITY: 0.0482368, DIVERSITY_MEAN_INTER_LIST: 0.9969134, DIVERSITY_HERFINDAHL: 0.9996714, COVERAGE_ITEM: 0.5997305, COVERAGE_ITEM_CORRECT: 0.0498171, COVERAGE_USER: 0.6300491, COVERAGE_USER_CORRECT: 0.1710079, DIVERSITY_GINI: 0.2980479, SHANNON_ENTROPY: 13.0331551, \n')

In [ ]:
test_users = pd.read_csv('data_target_users_test.csv')
test_users

In [ ]:
recommender_alpha = P3alphaRecommender(URM_all)
recommender_alpha.fit(topK=475, alpha = 0.45, implicit = True)

recommender_alpha_ICM = P3alphaRecommender(ICM_all.T)
recommender_alpha_ICM.fit(topK=175, alpha = 0.45)
recommender_alpha_ICM.URM_train = URM_train

hybridrecommender = ItemKNNSimilarityHybridRecommender(URM_all, recommender_alpha_ICM.W_sparse, recommender_alpha.W_sparse)
hybridrecommender.fit(topK=600, alpha = 0.45)

user_id = test_users['user_id']
recommendations = hybridrecommender.recommend(user_id,cutoff = 10)

In [ ]:
for index in range(len(recommendations)):
    #print(element)
    recommendations[index]=np.array(recommendations[index])
    #print(type(element))
print(len(recommendations))

In [ ]:
test_users['item_list']= recommendations
#test_users['item_list'] =  test_users['item_list'].apply(lambda x: x.replace('[','').replace(']','')) 
test_users['item_list'] = pd.DataFrame([str(line).strip('[').strip(']').replace("'","") for line in test_users['item_list']])

#convert the string columns to int
#test_users['item_list'] = test_users['item_list'].astype(int)
test_users
test_users.to_csv('submission.csv', index=False)